body {
  position: relative;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

input {
  width: 300px;
  padding: 5px 20px 5px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(82, 83, 87, 0.747);
  color: rgba(224, 222, 222, 0.966);
}

::placeholder {
  color: #000;
}

.social-list__icon {
  width: 10px;
  height: 10px;
  fill: red;
}

b {
  margin-bottom: 3px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(98, 99, 110);

  &__btn {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(180, 182, 199);
  }

  &__btn:hover {
    background-color: rgb(133, 134, 141);
    color: #000;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -10px;
}

.photo-card {
  margin: 10px 10px 10px 0;
  margin-right: 10px;
  margin-bottom: 10px;

  &__image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.info {
  background-color: rgb(227, 237, 253);
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.info-item {
  font-family: 'Arial';
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.result {
  font-size: 13px;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more {
  height: 20px;
}